@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* In your CSS file or <style> tag */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
:root {
  font-family: "Poppins", sans-serif;

  --skyBlue: #2274e0;
}

*,
::after,
::before {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}

::-webkit-scrollbar {
  display: none;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slide-up {
  animation: slide-up 1.2s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fade {
  animation: fade 1.8s ease-in-out;
}
